@font-face {
    font-family: VarianeScript;
    src:local('☺'), url("Variane Script.woff") format('woff');
}

*{
    margin:0;
    padding:0;
}

body
{
    background:#E4F3FE;
}

.container {
    background-color: white;
}


/*ESTILOS DEL HEADER*/
header .container{
    background: #88CBFA;
    padding-bottom: 5px;
}

header .primeraFila{
    height: 105px;
}

header .logoH2{
    font-family: VarianeScript, sans-serif;
    font-size: 50px;
    color:#0D389D;
    text-shadow: 2px 2px 2px #000;
}

header .linklogo{
    text-decoration: none;
}

header .imagenPerfil{
    overflow: hidden;
    display:inline-block;
    float:left;
}

header .imagenPerfil img{
    margin-top: 5px;
    height: 60px;
    width: 60px;
}

header .datosPerfil{
    padding: 0px 0px;
}

header .datosPerfil .nombre{
    display:inline-block;
    margin-left: 30px;
    color:black;

}

header .datosPerfil .accion_perfil{
    clear:both;
    margin: 0px 0px;
    padding: 0px 0px;
}
header .datosPerfil .form-control{
    padding: 0px 0px;
    width: 30%;
    display: inline-block;
}

header .accion_perfil
{
    margin: 0px 0px;
    padding: 0px 0px;
}

header .buscador{
    margin-top:20px;
}

header .FormularioLogin{
    margin-top: 10px;
}

header .FormularioLogin .form-control{
    width:200px;
}

header .invalid_login_message{
    font-size: 13px;
    color: red;
    margin-left: 75px;
}

/*Busqueda-Search.jsp*/

.search .result:hover{
    background: #BFE1FA;
    cursor: pointer;
    text-decoration: underline;
}

.search .icono-ok{
    font-size:15px;
    color: green;
    width: 0px;
    height: 0px;
}

.search thead{
    color:#000;
    font-size: 18px;
}

.search .cabeceraTabla .glyphicon-sort{
    font-size: 10px;
    width:15px;
}

.search .cabeceraTabla .glyphicon-sort:hover{
    font-size: 15px;
}

.search .cabeceraTabla th:hover{
    cursor:pointer;
}


/*REGISTRO*/

.registro .titulo_registro{
    font-size: 25px;
    font-weight: bold;
    margin-left: 425px;
}

.img_div
{
    position:relative;
    width: 300px;
    margin-top: 10px;
    height: 30px;
    overflow:hidden;
}

.img_div button
{
    position: absolute;
    width: 100%;
    height: 100%;
}

.img_div input
{
    font: 500px monospace;
    opacity:0;
    filter: alpha(opacity=0);
    position: absolute;
    z-index: 1;
    top:0;
    right:0;
    padding:0;
    margin: 0;
}


.registro .form-control{
    width: 300px;
    margin-top: 10px;
    height: 30px;
    font-size: 1.1em;
    background-color: #BFE1FA;
    border: 0px;
}

.registro input[type="submit"]{
    width:300px;
    height: 35px;
    margin-top: 15px;
    font-size: 1.1em;
    outline: none; 
}

/*PERFIL*/

.perfil .reservas:hover{
    background: #BFE1FA;
    cursor: pointer;
    text-decoration: underline;
}

.perfil .nav-tabs{
    background-color: #E4F3FE;
}

.perfil td h4{
    color: black;
}

.perfil img{
    margin: auto;
    width: 10%;
    margin-top: 20px; 
}

.perfil .nom{
    margin: auto;
}

.perfil #infobasica{
    margin-left: 15px; 
}

.perfil .tab-content{
    margin-top: 30px; 
}
/*Ver Reservas*/



.VerReservas .reservas:hover{
    background: #BFE1FA;
    cursor: pointer;
    text-decoration: underline;
    
}

.VerReservas .cabeceraTabla{
    color:#000;
    font-size: 18px;

}


/*Ver reserva*/

.VerReserva{
    margin-top: 20px;
    padding-bottom: 100px;
}

.VerReserva .precioSubtotal{
    font-size: 20px;
}

.VerReserva .infoReserva{
    padding-left: 10px;
}

.VerReserva .BloqueServicio{
    display:inline-block;
}

.VerReserva .BloqueServicio .descripcionServicio{
    width: 250px
}

.VerReserva .cancelar-reserva:hover{
    cursor: pointer;
}

.VerReserva .BloqueServicio .nombre-servicio{
    margin: 60px;
    font-size: 16px;
    font-weight: bold;
}

.VerReserva .BloquePublicacion .nombre-promocion{
    margin: 60px;
    font-size: 16px;
    font-weight: bold;
}

.VerReserva .BloquePublicacion{
    background: #BFE1FA;
    border-style: solid;
    border-color: #C3E4FB;
    margin-left: 10px;
}

.VerReserva .BloquePublicacion:hover{
    background: #80C7FA ;
    border-style: solid;
    border-color: #4BB1F9 ;
    cursor: pointer; 
}

.VerReserva .promosDiv{
    display:inline-block;
}

.VerReserva .Titulo{
    text-align: center;
}

.InfoServicio .precio {
    font-size: 50px;
}

.InfoServicio{
    padding: 10px;
}


.tablaInfoServ{
    font-weight: bold;
}

.carro_de_compras{

}

.carro_de_compras .result:hover{
    background: #BFE1FA;
    cursor: pointer;
    text-decoration: underline;
}

.carro_de_compras .cabeceraTabla{
    color:#000;
    font-size: 18px;
}

.carro_de_compras .subtotal{
    font-size: 35px;
}


.VerReserva .servicios{
    text-align: center;
}

.VerReserva .promociones{
    text-align: center;
}


/* Listar Promociones */

.Promociones .result:hover{
    background: #BFE1FA;
    cursor: pointer;
    text-decoration: underline;
}

.Promociones .cabeceraTabla{
    color: #000;
    font-size: 18px;
}

/* Listar Servicios */

.Servicios .result:hover{
    background: #BFE1FA;
    cursor: pointer;
    text-decoration: underline;
}

.Servicios .cabeceraTabla{
    color: #000;
    font-size: 18px;
}

.InfoPromocion .result:hover{
    background: #BFE1FA;
    cursor: pointer;
    text-decoration: underline;
}

.InfoPromocion .cabeceraTabla{
    color: #000;
    font-size: 14px;
}

.InfoServicio {
    padding: 10px;
}

/*Listar Proveedores*/

.Proveedores .result:hover{
    background: #BFE1FA;
    cursor: pointer;
    text-decoration: underline;
}

.Proveedores .cabeceraTabla{
    color: #000;
    font-size: 18px;
}

.InfoProveedor .result:hover{
    background: #BFE1FA;
    cursor: pointer;
    text-decoration: underline;
}

.InfoProveedor .cabeceraTabla{
    color: #000;
    font-size: 14px;
}

/* Arbol de Categorias y Promociones*/

ul#menu_arbol li {
     padding: 0 10px;
     margin-left: 5px;
     margin-bottom: 5px;
  }

ul#menu_arbol ul {
     margin-left: 30px;
  }
  
ul#menu_arbol li {
     padding: 0 10px;
}


.Categorias .promo:hover{
    background: #BFE1FA;
    cursor: pointer;
    text-decoration: underline;
}

.Categorias .hoja:hover{
    background: #BFE1FA;
    cursor: pointer;
    text-decoration: underline;
}

//PRUEBA DEL ARBOL

#menu_arbol {
	font-size: 90%;
	list-style-image: url(imasmenu/doct.gif);
	border: 1px solid #006699;
	width: 200px;
	padding-top: .5em;
	padding-bottom: .5em;
	list-style: inside;
}

.cAbierta{
	list-style-type: square;
	list-style-image: url(imasmenu/carpabiertat.gif);
}
.cAbiertaSeleccionada{
	list-style-type: square;
	list-style-image: url(imasmenu/carpabiertasel.gif);
}
.cCerradaSeleccionada{
	list-style-type: none;
	list-style-image: url(imasmenu/carpcerradasel.gif);
}
.cCerrada{
	list-style-type: circle;
	list-style-image: url(imasmenu/carpcerradat.gif);
}
.menuDoc{
	list-style-type: none;
	list-style-image: url(Images/favicon.png);
}
.tagApartado, a.tagApartado{
	cursor: pointer;
	font-weight: bold;
	text-decoration: none;
}
.documentoActual{
	list-style-image: url(imasmenu/docsel.gif);
}

#menu_arbol a {
	color: #006699;
}
.documentoActual a{
	color:#993300;
}
