@font-face {
    font-family: VarianeScript;
    src:url("fonts/Variane Script.ttf") format(truetype);
}

*{
    margin:0;
    padding:0;
}

body
{
    background:#E4F3FE;
}


/*ESTILOS DEL HEADER*/
header .container{
    background: #88CBFA;
    padding-bottom: 5px;
}

header .primeraFila{
    height: 105px;
}

header .logoH2{
    font-family: VarianeScript, sans-serif;
    font-size: 50px;
    color:#0D389D;
    text-shadow: 2px 2px 2px #000;
}

header .imagenPerfil{
    overflow: hidden;
    display:inline-block;
    float:left;
}

header .imagenPerfil img{
    margin-top: 5px;
    height: 60px;
    width: 60px;
}

header .datosPerfil{
    padding: 0px 0px;
}

header .datosPerfil .nombre{
    display:inline-block;
    margin-left: 30px;
    color:black;

}

header .datosPerfil .accion_perfil{
    clear:both;
    margin: 0px 0px;
    padding: 0px 0px;
}
header .datosPerfil .form-control{
    padding: 0px 0px;
    width: 30%;
    display: inline-block;
}

header .accion_perfil
{
    margin: 0px 0px;
    padding: 0px 0px;
}

header .buscador{
    margin-top:20px;
}

header .FormularioLogin{
    margin-top: 10px;
}

header .FormularioLogin .form-control{
    width:200px;
}

header .invalid_login_message{
    font-size: 13px;
    color: red;
    margin-left: 75px;
}

/*Busqueda-Search.jsp*/

.search .result:hover{
    background: #BFE1FA;
    cursor: pointer;
    text-decoration: underline;
}

.search .cabeceraTabla{
    color:#000;
    font-size: 18px;
}

///////////////*REGISTRO*/////////////

input{
    display: inline-block;
    width: 12em;
}

.registro .form-inline label{
    color: #204d74; 
    text-decoration: underline;
}

.registro .subbut{
    padding: .2em .5em;
}

.registro .form-inline{
    margin-left:50px;
    margin-top: 15px;
}

///////////////*PERFIL*/////////////

.contenedor label {
    text-decoration: underline;
}

.contenedor{
    margin-left: 50px;
    font-size: 13px;
}

.basicinfo{
    text-align:center;
    float: left;
    width: 500px;
    border-right: 2px solid #DDDDDD;
    border-left: 2px solid #DDDDDD;
}

.contenedor h3{
    color: #1b6d85;
    text-decoration: underline;
}

.perfil {
    margin-left:40px;
    text-align:left;
    float:left;
}

.Perfil .cabeceraTabla{
    color:#000;
    font-size: 18px;
}

.Perfil .reservas{
    cursor: pointer;
    text-decoration: underline;
    text-align: center;
}

.Perfil h3{
    text-align: center;
}



/*Ver Reservas*/

.VerReservas .reservas:hover{
    background: #BFE1FA;
    cursor: pointer;
    text-decoration: underline;
}

.VerReservas .cabeceraTabla{
    color:#000;
    font-size: 18px;
}