@font-face {
    font-family: VarianeScript;
    src:url("fonts/Variane Script.ttf") format(truetype);
}

*{
    margin:0;
    padding:0;
}

body
{
    background:#E4F3FE;
}

.container {
    background-color: white;
}


/*ESTILOS DEL HEADER*/
header .container{
    background: #88CBFA;
    padding-bottom: 5px;
}

header .primeraFila{
    height: 105px;
}

header .logoH2{
    font-family: VarianeScript, sans-serif;
    font-size: 50px;
    color:#0D389D;
    text-shadow: 2px 2px 2px #000;
}

header .linklogo{
    text-decoration: none;
}

header .imagenPerfil{
    overflow: hidden;
    display:inline-block;
    float:left;
}

header .imagenPerfil img{
    margin-top: 5px;
    height: 60px;
    width: 60px;
}

header .datosPerfil{
    padding: 0px 0px;
}

header .datosPerfil .nombre{
    display:inline-block;
    margin-left: 30px;
    color:black;

}

header .datosPerfil .accion_perfil{
    clear:both;
    margin: 0px 0px;
    padding: 0px 0px;
}
header .datosPerfil .form-control{
    padding: 0px 0px;
    width: 30%;
    display: inline-block;
}

header .accion_perfil
{
    margin: 0px 0px;
    padding: 0px 0px;
}

header .buscador{
    margin-top:20px;
}

header .FormularioLogin{
    margin-top: 10px;
}

header .FormularioLogin .form-control{
    width:200px;
}

header .invalid_login_message{
    font-size: 13px;
    color: red;
    margin-left: 75px;
}

/*Busqueda-Search.jsp*/

.search .result:hover{
    background: #BFE1FA;
    cursor: pointer;
    text-decoration: underline;
}

.search .cabeceraTabla{
    color:#000;
    font-size: 18px;
}

/*REGISTRO*/

.registro #formulario{
    /*CENTRADO*/
    position: absolute;
    left: 38%;
    
    width: 300px;
    min-height: 200px;
    border-radius: 5px;
}

.registro #titulo{
    color: #00498f;
    font-size: 1.6em;
    text-align: center;
    margin-top: 10px;
    background-color: white;
    border-radius: 5px;
}

.registro .form-control{
    width: 300px;
    margin-top: 10px;
    height: 30px;
    font-size: 1.1em;
    background-color: #BFE1FA;
    border: 0px;
}

.registro input[type="submit"]{
    width:300px;
    height: 35px;
    margin-top: 15px;
    font-size: 1.1em;
    outline: none; 
}

/*PERFIL*/

.perfil .reservas:hover{
    background: #BFE1FA;
    cursor: pointer;
    text-decoration: underline;
}

.perfil .nav-tabs{
    background-color: #E4F3FE;
}

.perfil td h4{
    color: black;
}

.perfil img{
    margin: auto;
    width: 10%;
    margin-top: 20px; 
}

.perfil .nom{
    margin: auto;
}

.perfil #infobasica{
    margin-left: 15px; 
}

.perfil .tab-content{
    margin-top: 30px; 
}
/*Ver Reservas*/

.VerReservas .reservas:hover{
    background: #BFE1FA;
    cursor: pointer;
    text-decoration: underline;
}

.VerReservas .cabeceraTabla{
    color:#000;
    font-size: 18px;
}

/*Ver reserva*/

.VerReserva .BloqueServicio{
    display:inline-block;
}

.VerReserva .BloqueServicio .descripcionServicio{
    width: 250px
}

.VerReserva .BloquePublicacion{
    background: #BFE1FA;
    border-style: solid;
    border-color: #C3E4FB;
}

.VerReserva .BloquePublicacion:hover{
    background: #80C7FA ;
    border-style: solid;
    border-color: #4BB1F9 ;
    cursor: pointer; 
}

.VerReserva .promosDiv{
    display:inline-block;
}

